@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik&family=Space+Mono&family=Be+Vietnam+Pro&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.cdnfonts.com/css/forma-djr-banner");

@tailwind base;

:root {
  /* --toastify-toast-min-height: 50px; */
  /* --toastify-font-family: monospace; */
  /* overflow-x: hidden; */
  --tw-sm: clamp(0.91rem, 0.18vw + 0.86rem, 1.13rem);
  --tw-base: clamp(1.14rem, 0.23vw + 1.08rem, 1.29rem);
  --tw-md: clamp(1.43rem, 0.28vw + 1.35rem, 1.61rem);
  --tw-lg: clamp(1.79rem, 0.36vw + 1.68rem, 2.01rem);
  --tw-xl: clamp(2.23rem, 0.44vw + 2.11rem, 2.51rem);
  --tw-2xl: clamp(2.79rem, 0.55vw + 2.63rem, 3.14rem);
  --tw-3xl: clamp(3.49rem, 0.69vw + 3.29rem, 3.92rem);
  --tw-4xl: clamp(4.36rem, 0.87vw + 4.11rem, 4.9rem);
  --tw-5xl: clamp(5.45rem, 1.08vw + 5.14rem, 6.13rem);
  --tw-6xl: clamp(6.81rem, 1.35vw + 6.42rem, 7.66rem);
  --tw-7xl: clamp(8.51rem, 1.69vw + 8.03rem, 9.58rem);
  --tw-8xl: clamp(10.64rem, 2.12vw + 10.04rem, 11.97rem);
  --tw-9xl: clamp(13.3rem, 2.65vw + 12.55rem, 14.97rem);
  --tw-10xl: clamp(16.63rem, 3.31vw + 15.69rem, 18.71rem);
  --tw-11xl: clamp(20.79rem, 4.13vw + 19.61rem, 23.39rem);
  --tw-12xl: clamp(25.99rem, 5.17vw + 24.51rem, 29.23rem);
}
@layer base {
  html {
    font-size: 72.5%;
  }
  body {
    @apply font-sans bg-ai-bg dark:bg-ai-dark-bg text-ai-text dark:text-ai-dark-text;
  }
}

@tailwind components;
/* @import "./component-styles/index.css"; */

@layer components {
  .titlebar-button {
    @apply inline-flex items-center justify-center w-6 h-6 mr-2 hover:bg-purple-400;
  }

  .flip-deck {
    position: absolute;
    background: rebeccapurple;
    cursor: url("https://shunyasea-bucket-00.s3.amazonaws.com/utils/cursor.png")
        39 39,
      auto;
  }

  .flip-deck > div {
    position: absolute;
    bottom: -33vh;
    left: 10vw;
    /* top: 5vh;
    left: 40vw; */
    width: fit-content;
    will-change: transform;
    align-items: center;
    justify-content: center;
  }

  .flip-deck > div > div {
    position: relative;
    background-color: ghostwhite;
    background-size: cover;
    /* background-size: 99% 90%; */
    background-repeat: no-repeat;
    background-position: center center;
    /* min-width: 38vw;
    max-width: 1000px;
    min-height: 72vh;
    max-height: 1920px; */
    width: 45vh;
    max-width: 500px;
    height: 85vh;
    max-height: 770px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgb(80 63 205 / 30%),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }

  .gpt-background {
    @apply bg-gradient-to-r from-violet-200 to-pink-200;
  }

  .model-change-notification {
    @apply font-mono text-sm font-light tracking-tight text-center uppercase;
  }

  .backface-invisible {
    backface-visibility: hidden;
  }

  .header-link-conditional {
    @apply scale-125 translate-y-1 text-slate-500 dark:text-slate-100;
  }

  .fancy-background {
    position: "absolute";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: lightgray;
    z-index: -1;
    overflow: "hidden";
  }

  .fancy-background-child {
    width: "100vw";
    min-width: 1500;
    left: "50%";
    transform: "translateX(-50%)";
    position: "absolute";
    top: 0;
    bottom: 0;
    background-repeat: "no-repeat";
    background-image: radial-gradient(
        circle 800px at 700px 200px,
        purple,
        transparent
      ),
      radial-gradient(
        circle 600px at calc(100% - 300px) 300px,
        teal,
        transparent
      ),
      radial-gradient(circle 800px at right center, skyblue, transparent),
      radial-gradient(circle 800px at right bottom, lightblue, transparent),
      radial-gradient(
        circle 800px at calc(50% - 600px) calc(100% - 100px),
        lightpink,
        pink,
        transparent
      );
  }

  /* CMDK styling*/
}

@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }
  .text-gradient-inverted {
    background: linear-gradient(
      to right bottom,
      rgb(0, 0, 0) 30%,
      rgba(255, 255, 255, 0.22)
    );
    background-clip: text;
    color: transparent;
  }

  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }

  .mask-radial-faded {
    mask-image: radial-gradient(circle at center bottom, black, transparent);
  }

  .zap-image-mask {
    mask-image: linear-gradient(black, transparent 70%);
  }

  .background-fixed {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 70%);
  }
  .mask-linear-faded-99 {
    mask-image: linear-gradient(rgba(0, 0, 0, 0.95), transparent 99%);
  }
}
